<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %} 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Музыкальные Альбомы</title>
    <link rel="stylesheet" href="{% static 'Language_app/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Введите информацию об альбоме</h1>
        
        <form action="{% url 'save_album' %}" method="post">
            {% csrf_token %}
            <label>Название альбома:</label>
            <input type="text" name="title" required><br>
            <label>Исполнитель:</label>
            <input type="text" name="artist" required><br>
            <label>Год:</label>
            <input type="number" name="year" required><br>
            <label>Жанр:</label>
            <input type="text" name="genre" required><br>
            <button type="submit">Сохранить альбом</button>
        </form>

        <h1>Загрузить файл альбома (JSON)</h1>
        
        <form action="{% url 'upload_file' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="file" accept=".json" required><br>
            <button type="submit">Загрузить</button>
        </form>

        <a href="{% url 'load_albums' %}">Посмотреть все альбомы</a>
    </div>
</body>
</html>
